<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>my-app</display-name>
    <!--
        The container will search the web application directory for one of the following
        files to serve up if a request is made to the root of the web application's context
        path (http://localhost:8080/my-app/).
    -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Listener class to allow for these to be loaded via context/programmatic means -->
    <listener>
        <listener-class>com.revature.johnKimAPI.web.util.ContextLoaderListener</listener-class>
    </listener>

    <!-- Provide parameters to the ServletContext (available to all servlets in this context)-->
    <context-param>
        <param-name>logback-config</param-name>
        <param-value>WEB-INF/classes/logback.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>UserServlet</servlet-name> <!-- Mandatory tag -->
        <servlet-class>com.revature.servlets.UserServlet</servlet-class> <!-- Mandatory tag -->
        <!-- Provide parameters to the ServletConfig (specific to this servlet) -->
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name> <!-- Mandatory tag -->
        <url-pattern>/users/*</url-pattern> <!-- Mandatory tag -->
    </servlet-mapping>
</web-app>